.home {
  font-family: "Roboto", sans-serif;
}
.hero_section {
  display: flex;
}

.hero_section-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}
.hero_section-content h1 {
  color: var(--color-dark-blue);
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}
.hero_section-content span {
  color: var(--color-orange-yellow);
}
.hero_section-content p {
  letter-spacing: 3px;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: var(--color-text);
  margin: 1.5rem 0;
}
.hero_section-content .hero_btn {
  background-color: transparent;
  color: (var--color-dark-blue);
  border: 1px solid var(--color-orange-yellow);
}
.hero_section-content .hero_btn:hover {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.hero_section-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero_section-image img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1050px) {
  .hero_section {
    flex-direction: column;
  }
  .hero_section-content{
    width: 100%;
  }
  .hero_section-content h1 {
    letter-spacing: 0.1em;
    margin-bottom: 0;
  }
  .hero_section-content p{
    font-size: 25px;
    margin: 2rem 0;
  }
  .hero_section-image {
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 700px) {
  .hero_section{
    padding: 3rem 1rem;
  }
  .hero_section-content h1 {
    /* margin-bottom: 20px; */
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0.1em;
  }
  .hero_section-content p{
    font-size: 18px;
  }
}
