@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,400&family=Roboto&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-white: #ffffff;
  --color-dark-blue: #000066;
  --color-orange-yellow: #ffcc00;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: var(--color-white);
  font-size: 18px;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

.section_padding {
  padding: 4rem 3rem;
}
.section_margin {
  padding: 4rem 0;
}

.btn {
  padding: 4px 6px;
  border-radius: 500px;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 14px;
  width: 25%;
  border: none;
  outline: none;
}

@media screen and (max-width:1050px) {
  .btn {
    padding: 6px 6px;
    font-size: 16px;
  }
}

@media screen and (max-width:550px) {
  .btn {
    padding: 8px 10px;
    font-size: 16px;
     width: 100%;
  }
}

.scale-up-center {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
    both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
